nav {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    font-family: Verdana;
    font-size: 25px;
    color: white;
}

.memoryContainer {
    width: 600px;
    height: 600px;
    border: 1px solid #e9e9e9;
    margin: auto;
    background-color: #666;
}

.guessContainer {
    width: 600px;
    border: 1px solid #e9e9e9;
    margin: auto;
    background-color: #666;
    color: white;
    text-align: center;
}

.memoryCard {
    width: 100px;
    height: 100px;
    background-color: #0099ff;
    margin: 10px;
    border: 1px solid #999999;
    font-size: 25px;
    font-weight: bold;
    color: white;
    float: left;
}

.clear {
    clear: both;
}

.shuffleContainer {
    width: 600px;
    border: 1px solid #e9e9e9;
    margin: auto;
    background-color: #666;
    color: white;
    text-align: center;
}

.gameContainer {
    border: 1px solid #e9e9e9;
    background-color: #b6b0b0;
    width: 100%;
    height: 100%;
    margin: auto;
}

.player {
    height: 100%;
    width: 40%;
    border: 1px solid #e9e9e9;
    background-color: #666;
    color: white;
    padding-left: 10px;
    float: left;
    text-align: left;
}

.computer {
    height: 100%;
    width: 40%;
    border: 1px solid #e9e9e9;
    background-color: #666;
    color: white;
    padding-right: 10px;
    float: right;
    text-align: right;
}

.choiceCards {
    width: 100px;
    height: 100px;
    background-color: #0099ff;
    margin: 10px;
    border: 1px solid #999999;
}